/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #000;
}

/*
 * Base structure
 */

html {
  height: 100%;
  background-color: #ddd;
}

body {
  height: 100%;
  font-family: 'Fira Mono', serif;
  background-color: #ddd;
}

.about-link {
  /* padding: 3px 10px 3px 10px; */
  margin: 0 5px 0 5px;
  line-height: 20px;
}

.button-black {
  border: 2px solid #212529;
  border-radius: 8px;
  padding: 3px 10px 3px 10px;
  margin: 0 5px 0 5px;
  text-align: center;
}

.button-white {
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 3px 10px 3px 10px;
  margin: 0 5px 0 5px;
  text-align: center;
}

/*
 * About
 */
.introduction {
  transform: translateZ(0);
  margin: 0 auto;
}

.languages {
  font-size: 1rem;
  color: #666;
}

.lead {
  line-height: 30px;
}

div.about {
  width: 100%;
  background-color: #ddd;
}

div.about div.intro {
  padding-top: 5em;
  width: 100%;
  transform: translate3d(0, 0, 0);
}

@media (max-width: 992px) {
  /* For mobile phones: */
  div.about {
    position: relative;
    text-align: center;
  }
  div.about div.intro {
    width: 100%;
    left: 0px;
    margin-left: 0px;
  }
}

img.headshot {
    width: 15em;
}

/*
 * Portfolio Link
 */
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.animated {
  transform: translatey(0px);
  animation: float 2s ease-in-out infinite;
}

#arrow-button {
  font-size: 20px;
}

/*
Portfolio
*/
.word-comebacks {
  background-color: #FACB0E;
}
.scheme-to-wasm {
  background-color: #AAD929;
}
.playwithme {
  background-color: #1EA935;
}
.wheresbabyberk {
  background-color: #2998D9;
}
.elemental-2048 {
  background-color: #8a29d9;
}
.fastcatch {
  background-color: #db4545;
}

div.portfolio-link {
  text-align: center;
  width: 100%;
  padding: 3em 0 1em 0;
  display: block;
}
div.portfolio-link a:hover {
  text-decoration: none;
}
div.portfolio-link #portfolio-button {
  display: inline-block;
  font-weight: 500;
  font-size: 125%;
}

/*
 * Footer
 */
.footer {
  height: 8vh;
  line-height: 8vh; /* vertical centering */
  width: 100%;
  background: #ddd;
}

/*
 * Pictures
 */
.screenshot {
  max-height: 15em;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 992px) {
  /* For mobile phones: */
  .screenshot {
    max-height: 60vh;
    max-width: 100%;
    padding-left: 0vh;
    padding-right: 0vh;
    float: none;
    display: block;
    margin: 0 auto 1.5vh auto;
  }
  .portfolio-item-title {
    text-align: center;
  }
  .portfolio-button-list {
    margin: 0 auto;
    width: fit-content;
    display: flex;
  }
}


/*
 * Icons
  */

.fa-twitter, .fa-github, .fa-linkedin, .fa-envelope, .fa-file-alt {
    color: black;
}
.fa-stack .icon-bg {
    opacity: 0.0;
    color: black;
}
.fa-stack .icon-fg {
    color: white;
}

.fa-stack:hover .fa-twitter {
    color: #00aced;
}
.fa-stack:hover .fa-github {
    color: #fff;
}
.fa-stack:hover .fa-linkedin {
    color: #00a0dc;
}
.fa-stack:hover .fa-envelope {
    color: #fff;
}
.fa-stack:hover .fa-file-alt {
    color: #fff;
}
.fa-stack:hover .icon-bg {
    opacity: 1.0;
}
.fa-stack:hover .icon-fg {
    color: black;
}
