/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #000;
}

/*
 * Base structure
 */

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Noto Sans', serif;
}

/*
 * About
 */
.introduction {
  transform: translateZ(0);
  margin: 0 auto;
}

.introduction-gradient {
  background: radial-gradient(rgba(255,255,255, 1), rgba(255,255,255, 0.8), rgba(255,255,255,0));
}

div.about {
  height:100%;
  width:100%;
}

div.about div.row {
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 980px;
  margin-left: -490px;
}

div.portfolio {
  position: relative;
}

@media (max-width: 992px) {
  /* For mobile phones: */
  div.about {
    position:relative;
    text-align: center;
  }
  div.about div.row {
    width: 100%;
    left:0px;
    margin-left:0px;
  }
}

img.headshot {
    width: 30vh;
}

/*
 * Portfolio Link
 */
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

.animated {
  transform: translatey(0px);
  animation: float 4s ease-in-out infinite;
}

/*
Portfolio
*/
/*.portfolio {
  background-color: #0043af;
  box-shadow: 0 0 2rem rgba(0, 0, 0, .5);
}*/
.wheresbabyberk {
  background-color: #2998D9;
}
.elemental-2048 {
  background-color: rgb(219, 69, 69);
}
.fastcatch {
  background-color: rgb(138, 41, 217);
}
div.portfolio {
  transform: translateZ(0);
  position: relative;
  z-index: 2;
  padding: -4em 0;
}
div.portfolio-link {
  text-align:center;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
  display: block;
  text-decoration: none;
}
div.portfolio-link a:hover {
    text-decoration: none;
}
div.portfolio-link div {
  display: block;
  margin: 0;
  padding: .2em .7em;
  border-radius: 10rem;
  display: inline-block;
  background-color: #2998D9;
  font-weight: 500;
  font-size: 125%;
  color: #fff;
}
div.portfolio-link i {
  display: block;
  color: #2998D9;
  margin: 0.5em auto;
  text-decoration: none;
}

/*
 * Footer
 */
.footer {

  width: 100%;
  /*color: rgba(0, 0, 0, .5);*/
  background: repeating-linear-gradient(10deg,
    transparent,
    transparent 19px,
    #ddd 19px,
    #ddd 20px), repeating-linear-gradient(100deg,
    transparent,
    transparent 19px,
    #ddd 19px,
    #ddd 20px), repeating-linear-gradient(10deg,
    transparent,
    transparent 98px,
    #ddd 98px,
    #ddd 100px), repeating-linear-gradient(100deg,
    transparent,
    transparent 98px,
    #ddd 98px,
    #ddd 100px);
}

/*
 * Parallax
 * Code from https://alligator.io/css/pure-css-parallax/
 */
.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  -webkit-perspective: 300px;
  perspective: 300px;
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  /*height: 100vh;*/
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  -webkit-transform: translateZ(-240px) scale(1.8);
  transform: translateZ(-240px) scale(1.8);
  /* Force the background image to fill the whole element. */
  /*background-size: 100%;*/
  /* Keep the image from overlapping sibling elements. */ 
  z-index: -1;
  height: 100%;
}

.spacer {
  margin: -1.5em 0; /* change to -x, +x+2 for a parallax between areas */
  padding: 1.5em 0;
}

.footer {
  margin: -2em 0;
  padding: 3em 0 0.5em 0;
}

.spacer::after, .about::after {
  width: 100%;
  background: repeating-linear-gradient(10deg,
    transparent,
    transparent 19px,
    #ddd 19px,
    #ddd 20px), repeating-linear-gradient(100deg,
    transparent,
    transparent 19px,
    #ddd 19px,
    #ddd 20px), repeating-linear-gradient(10deg,
    transparent,
    transparent 98px,
    #ddd 98px,
    #ddd 100px), repeating-linear-gradient(100deg,
    transparent,
    transparent 98px,
    #ddd 98px,
    #ddd 100px);
}

/*
 * Pictures
 */
.screenshot {
  max-height: 40vh;
  max-width: 100%;
  padding-left: 10vh;
  padding-right: 5vh;
  float: right;
}

@media (max-width: 992px) {
  /* For mobile phones: */
  .screenshot {
    max-height: 60vh;
    max-width: 100%;
    padding-left: 0vh;
    padding-right: 0vh;
    float: none;
    display: block;
    margin: 0 auto 1.5vh auto;
  }
}

@media (max-width: 992px) {
  /* For mobile phones: */
  .portfolio-item-title {
    text-align: center;
  }
}


/*
 * Icons
  */

.fa-twitter, .fa-github, .fa-linkedin, .fa-envelope, .fa-file-alt {
    color: black;
}
.fa-stack .icon-bg {
    opacity: 0.0;
    color: black;
}
.fa-stack .icon-fg {
    color: white;
}

.fa-stack:hover .fa-twitter {
    color: #00aced;
}
.fa-stack:hover .fa-github {
    color: #fff;
}
.fa-stack:hover .fa-linkedin {
    color: #00a0dc;
}
.fa-stack:hover .fa-envelope {
    color: #fff;
}
.fa-stack:hover .fa-file-alt {
    color: #fff;
}
.fa-stack:hover .icon-bg {
    opacity: 1.0;
}
.fa-stack:hover .icon-fg {
    color: black;
}
